<div class="project-header">
<span class="project-title"><%= data.title %></span>
    <span class="project-duration"><%= data.duration %></span>
</div>
<div class="project-link">
    <a href="<%= data.link %>" target="_blank">
        <%= data.link %>
    </a>
</div>
<div class="project-desc">
    <%= data.desc %>
</div>