<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo" style="background-image: url('<%= imageUrl %>')"></div>
            <div class="header-title-section">
                <div class="header-title"><%= name %></div>
                <div class="header-subtitle"><%= subTitle %></div>
            </div>
        </div>
        <div class="info-section">
            <div class="info-col info-left">
                <% if (about.intro) { %>
                    <%- include('../components/cat_header', { catName: "About Me" }); %>
                    <div class="cat-def-body"><%= about.intro %></div>
                <% } %>
                <%- include('../components/cat_header', { catName: "Contact" }); %>
                <div class="cat-contact-body">
                    <div class="contact-item">
                        <div class="contact-logo">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info">
                            <a href="mailto:<%= about.contact.email %>">
                                <%= about.contact.email %>
                            </a>
                        </div>
                    </div>
                    <% if (about.contact.phone) { %>
                    <div class="contact-item">
                        <div class="contact-logo">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info"><%= about.contact.phone %></div>
                    </div>
                    <% } %>
                    <% if (about.contact.address) { %>
                    <div class="contact-item">
                        <div class="contact-logo">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info"><%= about.contact.address %></div>
                    </div>
                    <% } %>
                </div>
                <%- include('../components/cat_header', { catName: "Links" }); %>
                <div class="cat-list-body">
                    <ul>
                        <% links.forEach((link) => { %>
                        <li><%- include('../components/link', { title: link.title, src: link.src }); %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="info-col info-right">
                <%- include('../components/cat_header', { catName: "Work Experience" }); %>
                <div class="cat-list-body">
                    <ul>
                    <% workExp.forEach((work) => { %>
                        <li>
                        <%-
                            include('../components/work', {
                                data: { title: work.title, duration: work.duration, desc: work.desc }
                            });
                        %>
                        </li>
                    <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('../components/cat_header', { catName: "Education" }); %>
        <div class="cat-list-body">
            <ul>
                <% education.forEach((edu) => { %>
                <li>
                    <%-
                    include('../components/edu', { data:
                        { alma: edu.alma, duration: edu.duration, std: edu.std, score: edu.score }
                    });
                    %>
                </li>
                <% }); %>
            </ul>
        </div>
        <%- include('../components/cat_header', { catName: "Projects" }); %>
        <div class="cat-list-body">
            <ul>
            <% projects.forEach((proj) => { %>
                <li>
                <%-
                    include('../components/project', { data:
                        { title: proj.title, duration: proj.duration, link: proj.link, desc: proj.desc }
                    });
                %>
                </li>
            <% }); %>
            </ul>
        </div>
        <div class="footer">
            <%- include('../components/cat_header', { catName: "Skills" }); %>
            <% skills.forEach((skill) => { %>
                <%
                let type_klass = "cat-skill-type";
                let body_klass = "cat-skill-body";

                if (skill.graph == "false") { type_klass += " force-inline"; body_klass += "-gen"; }
                %>
                <div class="cat-skill-item"><div class="<%= type_klass %>"><%= skill.category %></div>
                <div class="<%= body_klass %>">
                    <% if (skill.graph == "true") { %>
                        <% skill.topics.forEach((topic) => { %>
                            <%- include('../components/skill', { skill: topic.name, perc: topic.perc }); %>
                        <% }); %>
                    <% } else { %>
                        <% skill.topics.forEach((topic) => { %>
                            <div class="skill-gen"><%= topic %></div>
                        <% }); %>
                    <% } %>
                </div></div>
            <% }); %>
            <% if (events) { %>
                <% events.forEach((event) => { %>
                    <%- include('../components/cat_header', { catName: event.title }); %>
                    <div class="cat-list-body">
                        <ul>
                            <% event.body.forEach((data) => { %>
                            <li><%- include('../components/ach_item', { desc: data.desc, date: data.date }); %></li>
                            <% }); %>
                        </ul>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
    <script type="text/javascript">
        window.addEventListener("load", () => {
            let desc = document.getElementsByClassName("ach-title");
            for (let i = 0; i < desc.length; i++) {
                desc[i].innerHTML = desc[i].innerText;
            };

            // Extra padding for last skill item
            let skillItems = document.querySelectorAll(".footer > .cat-skill-item");
            if (skillItems) {
                skillItems[skillItems.length-1].classList.add("pad-bottom-extra");
            }

            <%
                Object.keys(theme).forEach(function(key) {
                    if (theme.hasOwnProperty(key)) {
            %>
            document.documentElement.style.setProperty('--theme-<%=key%>', '<%=theme[key]%>');
            <%  }}); %>
            console.log(getComputedStyle(document.documentElement).getPropertyValue('--theme-primary'));
        }, false);
    </script>
</body>
</html>
